*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse 配置文件
*.project
*.classpath
/*/.settings/
/.settings/
/*/.gitignore

# Maven 打包结果
/*/target/
/target/

